.about {
    background-image: url("../../img/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    padding: 35px 0 45px;
}
.about__inner {
    max-width: 545px;
}
.about__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 0 30px;

}
.about__text {
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #d3d2d2;
    margin-bottom: 30px;
}
.about__btn.default-btn:after {
    color: #000;
}
