.footer__content {
    background-color: #595959;
    padding: 20px 0 30px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__info {
    max-width: 360px;
}
.footer__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    line-height: 36px;
}
.footer__text {
    color: #d3d2d2;
    padding-top: 5px;
    margin-bottom: 20px;
}
.footer__inner .header__btn {
    float: none;
    display: inline-block;
}
.footer__list {
    padding-top: 10px;
}
.footer__list li {
    margin-top: 10px;
}
.footer__list a {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 33px;
    position: relative;
}
.footer__list a:before {
    font-family: "icomoon";
    content: "\f003";
    position: absolute;
    left: 0;
    color: #ffc222;
}
.footer__list .footer__phone:before {
    content: "\f095";
    left: 3px;
}
.footer__list .footer__adress:before {
    content: "\f041";
    left: 3px;
}
.footer__map {
    padding-top: 20px;
    max-width: 630px;
    width: 100%;
}
.footer__copy {
    background-color: #303030;
    text-align: center;
    color: #d6d6d6;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 8px 0;
    font-weight: 400;

}
.footer__map iframe{
    width: 100%;
}
