.news {
    padding: 55px 0 110px;
    background-color: #f9f9f9;
}
.news__inner {
    display: flex;
    justify-content: space-between;
}
.news__slider {
    max-width: 555px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}
.news__slider:before {
    font-family: "icomoon";
    content: "\f10e";
    color: #fff;
    position: absolute;
    top: 0;
    left: 70px;
    font-size: 16px;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ffc222;
}
.news__blog {
    max-width: 260px;
}
.news__images {
    position: relative;
}
.news__date {
    position: absolute;
    background-color: #ffc222;
    width: 50px;
    height: 55px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0;
    left: 10px;
}
.news__blog-title {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: #242424;
    padding: 12px 0;
}
.news__blog-text {
    letter-spacing: 0.1px;
    color: #5d5b5b;
}
.news__slider-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #242424;
    padding-bottom: 20px;
}
.news__slider-text {
    letter-spacing: 0.1px;
    margin-bottom: 35px;
}
.news__slider-author {
    color: #212020;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
}
.news__slider-inner .slick-btn {
    top: auto;
    bottom: -110px;
}
.news__slider-inner .slick-next {
    right: -35px;
}
.news__slider-inner .slick-prev {
    right: 20px;
    left: auto;
}
.news__slider-inner .slick-disabled {
    border: 1px solid #dadada;
}
.news__slider-inner .slick-disabled:before {
    color: #dadada;
}