.services {
    padding: 50px 0 30px;
}
.services__top,
.news__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.services__title-box,
.form__title-box,
.news__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title-box:before,
.form__title-box:before,
.news__title-box:before {
    content:"";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 10px;
}
.services__title,
.form__title,
.news__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #212020;
    margin-bottom: 10px;
    top: 10px;

}
.services__text,
.form__text,
.news__text {
    letter-spacing: 0.1px;
}
.services__btn,
.news__btn {
    margin-top: 40px;
}
.services__btn a,
.news__btn a {
    color: #373636;
    line-height: 24px;
    letter-spacing: .25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services__items {
    display: flex;
    justify-content: space-between;
}
.services__item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #212020;
    padding: 25px 0 30px;
}
.services__item-text {
    letter-spacing: 0.1px;
    padding: 0 30px;

}
.services__item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services__item-btn .default-btn {
    color: #373636;
    font-weight: 600;
}
.services__item-btn .default-btn:after {
    color: #fff;

}
.services__item-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    /*border-bottom: 1px solid #050505;*/
    text-decoration: underline;
    margin-right: 60px;
}


